@mixin prefixed($property, $value) {
  @if $webkit == true {
    -webkit-#{$property}: #{$value};
  }

  @if $moz == true {
    -moz-#{$property}: #{$value};
  }

  @if $ms == true {
    -ms-#{$property}: #{$value};
  }

  @if $o == true {
    -o-#{$property}: #{$value};
  }

  #{$property}: #{$value};
}

@mixin keyframes($name) {
  @if $webkit == true {
    @-webkit-keyframes #{$name} {
      @content;
    }
  }

  @if $moz == true {
    @-moz-keyframes #{$name} {
      @content;
    }
  }

  @if $ms == true {
    @-ms-keyframes #{$name} {
      @content;
    }
  }

  @if $o == true {
    @-o-keyframes #{$name} {
      @content;
    }
  }

  @keyframes #{$name} {
    @content;
  }
}

// Mixins
@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  @include prefixed(transform, translate(-50%, -50%));
}

@mixin flexCenter($direction: row) {
  flex-flow: $direction;
  align-items: center;
  justify-content: center;
}

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {
      @content;
    } // < 600px
  }
  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) {
      @content;
    }
  } // < 900px
  @if $breakpoint == tab-land {
    @media (max-width: 75em) {
      @content;
    }
  } // < 1200px
  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) {
      @content;
    }
  } // > 1800px
}
